#kosarica, .kosarica {
    background-color: #ffffff;
    padding: 20px 25px;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

button {
    background-color: #0605df;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    margin: 4px 4px 4px 4px;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background-color: #216bd6;
}