#raspored-activities-wrapper {
    position: relative;
}

.active {
    background-color: var(--color-main);
}

#raspored-container {
    width: 100%;
    height: 100%;
}

#raspored-container table {
    width: 100%;
    table-layout: fixed;
}

#activities-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.activity {
    background-color: var(--color-main);
    color: white;
    border-radius: 8px;
    overflow: hidden;
    white-space: nowrap;
    /* text-overflow: ellipsis; */
}

.activity-time, .activity-dvorana{
    font-size: 0.7em;
}

.activity-title {
    font-size: 1em;
}

.today {
    background-color: lightblue;
}
